body {
  width: 100%;
  background-color: #f4fbff;
}

.banner-section {
  background-image: url(../images/banner-section.png);
  background-size: cover;
  background-position: 40%;
}

/* Mekanisme */
.mekanisme-section {
  background-image: url(../images/mekanisme-section.png);
  background-size: cover;
}
/* end Mekanisme */

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 10);
}

.slider .slide {
  width: 291px;
  height: 144px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-right: 20px;
}

.registration-section {
  width: 100%;
  height: 400px;
  background-image: url(../images/registration-banner.png);
  background-size: cover;
}

.title-layout,
.add-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.upload-file {
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

input,
textarea {
  border-radius: 8px;
}

input::placeholder,
textarea::placeholder {
  padding-left: 20px;
  font-size: 12px;
  font-weight: 400;
}
textarea::placeholder {
  padding-top: 10px;
}

input:required {
  color: red;
}
